body{
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.certificate{
    background-color: #38b6ff50;
    border: 2px solid red;
    width: 80%;
    height: 50%;
    text-align: center;
    box-shadow: 1px 1px 9px 6px rgb(83, 83, 83);
    padding: 0;
}

.crTitle{
    border-bottom: 1px solid rgb(195, 0, 255);
    margin: 0;
    padding: 0;
}

.crTitle h1{
    color: #38B6FF;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
}

.crTitle p{
    margin-top: 0px;
    color: #818181;
    font-weight: bold;
}

.mainText{
    text-align: left;
    padding: 10px;
    color: rgb(63, 63, 63);
    font-family: cursive;
}

.mainText p span{
    color: rgb(255, 0, 128);
    font-weight: bold;
}

#nType{
    color: rgb(255, 0, 128);
}

.footerText{
    text-align: right;
    padding: 20px;
    margin-top: 5%;
    color: rgb(63, 63, 63);
    font-family: monospace;
}

  
:root {
  --dark-color: #212121;
}

body {
  font-family: system-ui;
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
}

h4 {
  font-weight: normal;
  margin-bottom: 5px;
}
h1 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2em;
}

img {
  border-radius: 150%;
  height: 120px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main * {
  margin-bottom: 12px;
}

input {
  text-align: center;
  font-size: large;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

/* for styling the autocomplete style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--dark-color) !important;
}

button {
  background: #8bc34a;
  color: #fff;
  border: none;
  font-size: 0.8em;
  padding: 5px 15px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  color: #6492f6;
}

/* dark mode css */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-color);
    color: #fff;
  }
  input,
  input:active {
    background: var(--dark-color);
    border-color: #fff;
    color: #fff;
  }

  /* for styling the autocomplete style */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
}
